<a href="https://colab.research.google.com/github/asawariP/Python_Basic/blob/main/Python_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loop in python

In [ ]:
val=input("enter the number")
value = float(val)
if(value>100):
  print("the number is greater than 100")
else:
   print("The number is less than 100")

enter the number93
The number is less than 100

In [ ]:
10%2==0

True

#Age form

In [ ]:
#nested if
age =float(input("enter the age"))
if(age>18):
  print("minor age")
elif(age>=18 and age<=35):
  print("mid age")
elif(age>36 and age<=45):
  print("senior mid")
else:
  print("senior")

enter the age23
minor age

#  for loop

In [ ]:
List=[1,2,3,4,5,6]
for i in List:
  print(i)

1
2
3
4
5
6

In [ ]:
##find the sum of element
List=[1,2,3,4,5,6]
sum1=0
for i in List:
  sum1 =sum1+i

print(sum1)

21

In [ ]:
##find the sum of odd no and even no
List=[1,2,3,4,5,6]
odd_sum1=0
even_sum1=0
for i in List:
  if(i%2==0):
   even_sum1=even_sum1+i
  else:
    odd_sum1=odd_sum1+i

print("The sum of even no {}".format(even_sum1))
print("The sum of odd no {}".format(odd_sum1))

The sum of even no 12
The sum of odd no 9

In [27]:
##while loop
i=0
while(i<=10):
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [28]:
i=0
even_sum1=0
odd_sum1=0
while(i<=10):
    if(i%2==0):
       even_sum1=even_sum1+i
    else:
        odd_sum1=odd_sum1+i


    i=i+1
print(even_sum1,odd_sum1)

30 25